body {
  background-color: #f3f7f9;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
  margin: 0;
  padding: 10px 0;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

#count {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
}
